body{
    background-color: darkblue;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
}
input{
    width: 40%;
    height: 50px;
    margin-bottom: 10spx;
    padding-bottom: 30spx;
    text-align: left;
    font-size: 20px;
    margin-left:10%;
}
select{
    width: 40%;
    height: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
    margin-left: 10%;
}
label{
    color: white;
    font-size: 40px;
    margin-left: 10%;
}
h1{
    color: white;
}
button{
    width: 20%;
    height: 50px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    margin-left: 10%;
}
textarea{
    width: 40%;
    margin-bottom: 10spx;
    padding-bottom: 30spx;
    text-align: left;
    font-size: 20px;
    margin-left:10%;
}